<!DOCTYPE html>

<html>
    <head>
        <title>旅館名稱</title>


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hotel_computer.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hotel_phom.css') }}">
        <script src="{{ url_for('static', filename='./scrpit/jquery-3.6.0.js') }}"></script>
        <script src="{{ url_for('static', filename='./scrpit/Search.js') }}"></script>
        <script src="{{ url_for('static', filename='./scrpit/hotel_pag.js') }}"></script>
        <script src="{{ url_for('static', filename='./scrpit/retdata.js') }}"></script>
        <script src="{{ url_for('static', filename='./scrpit/str_data.js') }}"></script>
        <script src="{{ url_for('static', filename='./scrpit/lineLiff.js') }}"></script>
        <script src="{{ url_for('static', filename='./scrpit/linedata.js') }}"></script>
        <script>
        var poin="{{data[0]}}";
        var data_s="{{data[1]}}";
        var data_d="{{data[2]}}";
        var man_Len="{{data[3]}}";
        var _ID="{{data[5]}}";
        </script>
    </head>
    <body>
        <h3 id="jdata" style="display: none;">{{data[4]}}</h3>
        <div class="search_all">
            <div class="search_all all_title">
            <h3>請輸入旅遊地點：</h3>
            <input type="text" id="hotel_pixel">
            </div>

            <h3>入住日期:</h3>
            <input type="date" id="date_s">
            <h3>退房日期:</h3>
            <input type="date" id="date_d"value="1">
            <h3">入住人數:</h3>
            <input type="number" id="man_Len" style="width: 5vw; min-width: 5vw;" min="1" max="8" value="">
            <h3">人</h3>
            <button  id="gogo">搜尋</button>
        </div>
        <div class="dui">
            <div class="hotel_img">
                <img id="main" src="">
                <h3 id="img_title">解釋</h3>
                <br>
                <div id="img_else">
            
                </div>
            </div>
            <div class="buthotel" id="indata"></div>
            
    </div>
    </body>
</html>